<%= form_for(@sound) do |f| %>
  <% if @sound.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sound.errors.count, "error") %> prohibited this sound from being saved:</h2>

      <ul>
      <% @sound.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>&nbsp;
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :format %>&nbsp;
    <%= f.select :format,options_for_select(["CD", "Cassette", "MP3", "8-Track"]) %>
  </div>
  <div class="field">
    <%= f.label :minutes %>&nbsp;
    <%= f.number_field :minutes %>
  </div>
  <div class="field">
    <%= f.label :seconds %>&nbsp;
    <%= f.number_field :seconds %>
  </div>
  <div class="field">
    <%= f.label :size %>&nbsp;
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :size_units %>&nbsp;
    <%= f.select :size_units, options_for_select(["Bytes", "KB", "MB", "GB"]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
