<h1>Listing sounds</h1>
<% if @sounds.size == 0 %>
<h4>No Results Found</h4>
<% else %>
<table id="sounds_tbl">
  <thead>
    <tr>
      <th>Name</th>
      <th>Format</th>
      <th>Minutes</th>
      <th>Seconds</th>
      <th>Size</th>
      <th class="nosort"></th>
      <th class="nosort"></th>
      <th class="nosort"></th>
    </tr>
  </thead>

  <tbody>
    <% @sounds.each do |sound| %>
      <tr>
        <td><%= sound.name %></td>
        <td><%= sound.format %></td>
        <td><%= sound.minutes %></td>
        <td><%= sound.seconds %></td>
        <td><%= sound.size.to_s() + " " + sound.size_units %></td>
        <td><%= link_to sound do %> 
            <i class="icon-zoom-in"></i> View
          <% end %>
        </td>
        <td><%= link_to edit_sound_path(sound) do%>
          <i class="icon-pencil"></i> Edit
          <% end %>
        </td>
        <td style="color:#ff0000;"><%= link_to sound, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="icon-remove"></i> Delete
          <% end %>
        </td>
      </tr>
    
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= button_to new_sound_path, {:method=>'get', :class=>"btn btn-primary"} do %>
<i class="icon-plus"></i> New Sound
<% end %>
<script>
  //$("#sounds_tbl").dataTable();
  </script>