<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sound.name %>
</p>

<p>
  <strong>Format:</strong>
  <%= @sound.format %>
</p>

<p>
  <strong>Minutes:</strong>
  <%= @sound.minutes %>
</p>

<p>
  <strong>Seconds:</strong>
  <%= @sound.seconds %>
</p>

<p>
  <strong>Size:</strong>
  <%= @sound.size %>
</p>

<p>
  <strong>Size units:</strong>
  <%= @sound.size_units %>
</p>

<div class="sound_btn">
<%= button_to edit_sound_path(@sound), {:method=>'get', :class=>"btn btn-primary"} do %>
<i class="icon-pencil"></i> Edit
<% end %>
</div>
<div class="sound_btn">
<%= button_to sounds_path, {:method=>'get', :class=>"btn btn-primary"} do %>
<i class="icon-arrow-left"></i> Back
<% end %>
</div>
